.globalStat{
  background-image: linear-gradient(to bottom right, rgb(12, 33, 58), rgb(59, 85, 116));
  color: rgb(212, 207, 197);
  border: 0;
}


.totalData{
  background-image: linear-gradient(-90deg,rgb(135, 194, 157), rgb(82, 163, 122), rgb(135, 194, 157));
  border-radius: 50%;
  color: black;
}

.countryList{
  background-color: red;
}


.countryOption{
  font-size: 1.5rem;
}

.countryStat{
  background-image: linear-gradient(to top left, rgb(82, 163, 122), rgb(135, 194, 157));
  color: rgb(0, 0, 0);
}

.CountryTotalData{
  background-image: linear-gradient(-90deg,rgb(59, 85, 116), rgb(12, 33, 58), rgb(59, 85, 116));
  color: rgb(212, 207, 197);
}
